@import '../../themes.scss';

$silver: #8f9bb3;
;

nb-layout-header {

  .header {
    width: 100%;
    // background-color: red;
    display: flex;

    div.vl {
      margin: auto 1px;
      border-left: 1.2px solid rgb(228, 228, 228);
      height: 1.5rem;
    }

    div.header-left {
      display: flex;
      justify-content: left;
      width: 50%;

      div.title p {
        margin-left: 30px;
        font-size: 24px;
        color: #252525;
        font-weight: 500;
      }

      div.burger-menu {
        margin: auto 15px auto 0px;
        color: $silver;
      }

      button {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: transparent;

        nb-icon {
          font-size: 1.5rem;
        }
      }
    }

    div.header-right {
      display: flex;
      justify-content: right;
      width: 50%;
      // background-color: red;

      div.welcome-user {
        margin: auto 20px;
      }

      div.button {
        margin: auto 20px;
        color: $silver;

        nb-icon {
          font-size: 1.5rem;
          font-weight: 300;
        }
      }
    }
  }
}
