@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((text-basic-color: color-basic-800, // <- we setting color-basic-800 instead of color-basic-1000
    text-disabled-color: color-basic-600,
    // color-primary-100: #faf7ff,
    // color-primary-200: #d9e4ff,
    // color-primary-300: #a6c1ff,
    // color-primary-400: #598bff,
    // color-primary-500: #3366ff,
    // color-primary-600: #274bdb,
    // color-primary-700: #1a34b8,
    // color-primary-800: #102694,
    // color-primary-900: #091c7a,

  ), default, default);
