<nb-card size="medium">
  <nb-card-header>
    <h3>Lorem Ipsum</h3>
    <div class="subtitle">lorem</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <app-legend-chart [legendItems]="chartLegend"></app-legend-chart>
      </div>
      <!-- <app-visitors-analytics-chart [chartData]="visitorsAnalyticsData"></app-visitors-analytics-chart> -->
    </div>
  </nb-card-body>

  <app-slide-out [showVisitorsStatistics]="true">
    <app-visitors-statistics [value]="pieChartValue"></app-visitors-statistics>
  </app-slide-out>
</nb-card>
